{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PFE</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

		<!-- Favicons -->
		<link type="image/x-icon" href="{% static 'img/logo11.png' %}" rel="icon">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Swiper CSS -->
		<link rel="stylesheet" href="{% static 'plugins/swiper/css/swiper.min.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{% static 'js/html5shiv.min.js"></script>
			<script src="{% static 'js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
      {% include 'includes/headeriden.html' %}

	  
      {%  block content %}
      {% endblock content %}
 

    </div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Swiper JS -->
<script src="{% static 'plugins/swiper/js/swiper.min.js' %}"></script>

<!-- Slick JS -->
<script src="{% static 'js/slick.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>
