{% extends 'base.html' %}
{% load static %}
{% block content %} 

<div class="pharmacy-home-slider">
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
          </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="banner-wrapper">
      <div class="banner-header text-center">
        <h1>Institut Supérieur des Etudes Technologiques de Nabeul</h1>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Institut Supérieur des Etudes Technologiques de Nabeul</h5>
    <p class="card-text">Envie d'améliorer votre candidature ! Bienvenue sur la plateforme professionnelle de gestion des PFE de l'ISET</p>
    <p class="card-text"> Ce Site vous permet de faire une demande de Stage et Cahier de charge </p>
    <p class="card-text"> Le contact avec votre encadrant</p>
    <p class="card-text"> Tout Ce que vous avez besoins , vous le trouvez ici </p>
    <p class="card-text"> Bon courage </p>
  </div>
</div>

{% endblock content %}
