{% extends 'base1.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="row">
          <div class="col-md-12 offset-md-2">
           
            <div class="account-content ">

              <div class="row" >


                <div class="col-md-10 login-right ">
                  
                        <div class="login-header">
                          <h3 style="text-align:center;">Demande de Stage</h3> <br/>
                          <h6>Les coordonnées de l'étudiant:</h6> 
                          <h3 style="text-align:right;">Stage:Binome</h3>
                        </div>
                    <form method="post">
                      {% csrf_token %} 
                          <div class="field is-horizontal">
                            <div class="field-body">
                              <label class="label" style="text-align:center;">Nom &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left">
                                <input class="input" type="text" name="nom1">
                              </div>
                              <label class="label" style="text-align:center;">Nom2 &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="text" name="nom2">
                              </div>
                            </div>
                          </div>

                          <div class="field is-horizontal">
                            <div class="field-body">
                              <label class="label" style="text-align:center;">Prénom &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left">
                                <input class="input" type="text" name="prenom1">
                              </div>
                              <label class="label" style="text-align:center;">Prénom2 &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="text" name="prenom2">
                              </div>
                            </div>
                          </div>

                          <div class="field is-horizontal">
                            <div class="field-body">
                              <label class="label" style="text-align:center;">NCin &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left">
                                <input class="input" type="text" name="cin1">
                              </div>
                              <label class="label" style="text-align:center;">Ncin2 &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="text" name="cin2">
                              </div>
                            </div>
                          </div>

                          <div class="field is-horizontal">
                            <div class="field-body">
                              <label class="label" style="text-align:center;">E-mail &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left">
                                <input class="input" type="text" name="mail1">
                              </div>
                              <label class="label" style="text-align:center;">E-mail2 &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="Email" name="mail2">
                              </div>
                            </div>
                          </div>

                          <div class="field is-horizontal">
                            <div class="field-body">
                              <label class="label" style="text-align:center;">Parcours1 &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left">
                                <div class="select is-normal">
                                  <select name="parcours1" value='{{user.parcours1}}'>
                                    <option value="DSI" name="parcours1">DSI</option>
                                    <option value="SEM" name="parcours1">SEM</option>
                                    <option value="RSI" name="parcours1">RSI</option>
                                    <option value="MDW" name="parcours1">MDW</option>
                                  </select>
                                </div>
                              </div> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <label class="label" style="text-align:center;">Parcours2 &nbsp;&nbsp;</label>
                              <div class="control is-expanded has-icons-left has-icons-right">
                                <div class="select is-normal">
                                  <select name="parcours2" value='{{user.parcours2}}'>
                                    <option value="DSI" name="parcours2"> DSI</option>
                                    <option value="SEM"name="parcours2"> SEM</option>
                                    <option value="RSI"name="parcours2"> RSI</option>
                                    <option value="MDW" name="parcours2"> MDW</option>
                                  </select>
                                </div> 
                              </div>
                            </div>
                          </div> 
                          <button class="button is-primary">
                            valider
                          </button>
                    </form> 
                    
                  
<hr> 
<label class="label" style="text-align:left;">Concerne la Société:</label>
<br>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" style="text-align:left;">Nom du Société : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:grey">  ......................... </i> </label>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" style="text-align:left;">adresse du société: &nbsp;&nbsp;<i style="color:grey">  ....................... </i> </label>
  </div>

</div>


<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" style="text-align:left;">Domaine du Société: &nbsp;&nbsp;<i style="color:grey">  ....................... </i> </label>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Signature</label>
    <label class="label"><i style="color:grey">  ....................... </i> </label>
  </div>
</div>


</div>

  </div>
    </div> 
      </div>
        </div>
          </div> 
            </div> 
              </div> 
                </div>   
              
             
                <br/>
                

{% endblock content %}